<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <!-- <link rel="stylesheet" href="home.css" /> -->
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <header>
      <nav class="bg-orange-500">
        <ul class="flex flex-row justify-center bg-orange-400 p-4 gap-4 cursor-pointer">
          <li>
            <a href="/home" class=" text-2xl">Home</a>
          </li>
          <li>
            <a href="/host" class=" text-2xl">Host</a>
          </li>
          <li>
            <a href="/host/add-home" class="text-2xl">Add Home</a>
          </li>
        </ul>
      </nav>
      
    </header>
    <main class="flex flex-col justify-center items-center h-screen">
      
      <h1 class="text-red-700 text-5xl" >Welcome to airbnb</h1>
    </main>
  </body>
</html>
