<form action="/favorites" method="post" class="mt-6">
  <button type="submit" class="border text-center font-bold text-red-500 ">
    Add to favorites
  </button>
  <input type="hidden" name="homeId" value="<%= home.id %>" />
</form>
